.Task{
    max-width: 600px;
    min-height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px 0px 0px 10px;
}

.TaskText{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5%;
    font-size: 20px;
}

p{
    max-width: 370px;
    overflow-wrap: break-word;
    /* word-wrap: break-word;
    hyphens: auto; */
}

.time{
    font-size: 15px;
    color: rgba(67, 67, 67, 0.712);
    margin-left: 10px;
}

.DeleteTask{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;

    .delete{
        height: 35px;
        width: 50px;
        border-radius: 0px 0px 0px 30px;
        font-size: 20px;
        border: 0px solid white;
        background-color: rgba(0, 0, 0, 0.71);
        color: white;
        transition: 1s ease;
    }
    .delete:hover{
        transition: .1s ease;
        background-color: rgb(255, 43, 43);
    }

    .comlete{
        height: 35px;
        width: 50px;
        border-radius: 30px 0px 0px 0px;
        font-size: 20px;
        border: 0px solid white;
        background-color: rgba(0, 0, 0, 0.71);
        color: white;
        transition: 1s ease;
    }
    .comlete:hover{
        transition: .1s ease;
        background-color: rgba(33, 209, 80, 0.786);
    }
}

@media (max-width: 600px){
    .Task{
        width: 375px;
    }
    .TaskText{
        font-size: 16px;
    }
}
@media (max-width: 375px){
    h3{
        font-size: 15px;
    }
    .Task{
        width: 250px;
    }
    .TaskText{
        font-size: 13px;
    }
}